<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805446395211-uhdhq684a2op8ql6s6u6nqn0qk6a98k3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805446395211-uhdhq684a2op8ql6s6u6nqn0qk6a98k3</string>
	<key>API_KEY</key>
	<string>AIzaSyDXmLNwssh4HCFgTN-9dWinNya9SV4Pvm4</string>
	<key>GCM_SENDER_ID</key>
	<string>805446395211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iTiiiM.FlashCard</string>
	<key>PROJECT_ID</key>
	<string>flashcard-c4d00</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcard-c4d00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805446395211:ios:c889eab5c077b42e</string>
	<key>DATABASE_URL</key>
	<string>https://flashcard-c4d00.firebaseio.com</string>
</dict>
</plist>